* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', serif;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

/* login component */
.header {
  background: #000;
  color: #fff;
  font-size: 20px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

@media(max-width: 768px) {
  .login-btn {
    width: 100%;
  }
}

/* end of login component */

/* Main.js */
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

@media(max-width: 768px) {
  .main {
    flex-direction: column;
    height: auto;
  }
}

/* this sidebar is div inside Main.js and not actuall sidebar css */
.sidebar {
  background: #343A40;
  flex: 0.8;
}

.rightside {
  background: #f4f6f9;
  color: #000;
  flex: 3.2;
  padding: 30px 15px;
}

.rightside .boxes-div {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@media(max-width: 768px) {
  .rightside .boxes-div {
    flex-direction: column;
    justify-content: center;
  }
}

.rightside .boxes-div div {
  flex: 1;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-right: 15px;
}

@media(max-width: 768px) {
  .rightside .boxes-div div {
    width: 100%;
    margin-right: 0px;
    margin-top: 15px;
  }
}

/* blue box */
.rightside .boxes-div .box-blue {
  background: #17A2B8;
  color: #fff;
}

.rightside .boxes-div .box-blue .box-left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.rightside .boxes-div .box-blue .box-right-div {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.rightside .boxes-div .box-blue .box-right-div .icon {
  font-size: 70px;
  color: #e4e4e4;
}

/* yellow box */
.rightside .boxes-div .box-yellow {
  background: #FFC107;
  color: #000;
}

.rightside .boxes-div .box-yellow .box-left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.rightside .boxes-div .box-yellow .box-right-div {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.rightside .boxes-div .box-yellow .box-right-div .icon {
  font-size: 70px;
  color: #e4e4e4;
}

/* red box */
.rightside .boxes-div .box-red {
  background-color: #DC3545;
  color: #fff;
}

.rightside .boxes-div .box-red .box-left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.rightside .boxes-div .box-red .box-right-div {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.rightside .boxes-div .box-red .box-right-div .icon {
  font-size: 70px;
  color: #e4e4e4;
}

/* number and text inside boxes */
.number {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.1em;
}

.text {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1em;
}

/* end of Main.js */

/* Sidebar.js */
.sidebar-content-box {
  color: #C2C7D0;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}

/* custom dropdown div btn */
.sidebar-content-box .dropdown-btn-div {
  font-size: 14px;
  margin: 10px 0px;
  width: 100%;
  height: 55px;
  padding-left: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #C2C7D0;
}

.sidebar-content-box .dropdown-btn-div div span {
  margin-right: 10px;
}

.sidebar-content-box .dropdown-btn-div:hover {
  background: rgb(82, 88, 95);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

/* custom dropdown menu  */
.sidebar-content-box .mydropdown-menu .dropdown-link {
  margin: 0px;
  width: 100%;
  height: 45px;
  padding-left: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #C2C7D0;
  font-size: 12px;
}

.sidebar-content-box .mydropdown-menu .dropdown-link:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.sidebar-content-box .mydropdown-menu .dropdown-link div span {
  margin-right: 10px;
}

/* links */
.sidebar-content-box .link {
  font-size: 14px;
  margin: 10px 0px;
  width: 100%;
  height: 55px;
  padding-left: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #C2C7D0;
}

.sidebar-content-box .link:hover {
  background: rgb(82, 88, 95);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.sidebar-content-box .link div span {
  margin-right: 10px;
}

/* burger icon */
.burger-icon {
  display: none;
}

/* dropdown hidden and display css*/
.mydropdown-menu {
  display: none;
}

.mydropdown-menu.active {
  display: block;
}

.mydropdown-menu2 {
  display: none;
}

.mydropdown-menu2.active {
  display: block;
}

/* end of sidebar css */

/* table css */
.table-responsive {
  background: #fff;
  border-radius: 10px;
}

td button {
  margin: 3px;
}

/* form css inside of table */
.input-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #fff;
  padding: 10px;
  margin: 0px;
  border-radius: 5px;
}

.input-form input {
  width: 95%;
}

.input-form div button {
  width: 35px;
  border: hidden;
  padding: 5px;
  background: transparent;
  outline: none;
  cursor: pointer;
}

/* responsive css */
@media(max-width: 768px) {
  .main .sidebar {
    width: 100%;
    position: relative;
  }

  .main .rightside {
    width: 100%;
  }

  .main .sidebar .sidebar-content-box {
    height: 100px;
  }

  .main .sidebar .sidebar-content-box.active {
    height: auto;
  }

  .sidebar-content-box .link {
    display: none;
  }

  .sidebar-content-box.active .link {
    display: flex;
  }

  /* dropdown */
  .sidebar-content-box .dropdown-btn-div {
    display: none;
  }

  .sidebar-content-box.active .dropdown-btn-div {
    display: flex;
  }

  .sidebar-content-box.active .mydropdown-menu.active {
    display: block;
  }

  .sidebar-content-box .mydropdown-menu.active {
    display: none;
  }

  .sidebar-content-box.active .mydropdown-menu2.active {
    display: block;
  }

  .sidebar-content-box .mydropdown-menu2.active {
    display: none;
  }

  .burger-icon {
    display: block;
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: 30px;
    right: 20px;
  }

}